<div class="mascot-container" (click)="onInteract()">
  <div class="speech-bubble">
    <p>{{ message() }}</p>
  </div>
  <div class="cat-mascot" [attr.data-mood]="mood()">
    <div class="cat-head">
      <div class="cat-ear ear-left"></div>
      <div class="cat-ear ear-right"></div>
      <div class="cat-eyes">
        <span class="eye"></span>
        <span class="eye"></span>
      </div>
      <div class="cat-nose"></div>
      <div class="cat-whiskers"></div>
    </div>
    <div class="cat-body"></div>
    <div class="cat-tail"></div>
  </div>
</div>
