<div class="clock-widget">

  <div class="digital-time-arc">
    <svg viewBox="0 0 150 50" class="time-svg">
      <defs>
        <path id="timePath" d="M 20 45 Q 75 0, 140 45" fill="none" />
      </defs>
      <text class="time-text">
        <textPath href="#timePath" startOffset="50%" text-anchor="middle">
          {{ formattedTime() }}
        </textPath>
      </text>
    </svg>
  </div>

  <div class="clock-face">
    <div class="tick tick-12"></div>
    <div class="tick tick-6"></div>
    <div class="tick tick-9"><span>09</span></div>
    <div class="tick tick-3"><span>03</span></div>

    <div class="hand hour-hand" [style.transform]="'rotate(' + hourDegrees() + 'deg)'"></div>
    <div class="hand minute-hand" [style.transform]="'rotate(' + minuteDegrees() + 'deg)'"></div>
    <div class="hand second-hand" [style.transform]="'rotate(' + secondDegrees() + 'deg)'"></div>

    <div class="center-cap"></div>
  </div>
</div>